@page
@model SignModel
@{
    ViewData["Title"] = "Signup  page";
    Layout=null;
}
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/signup.css" />

 <h1>Signup Form</h1>

 @if(Model.Message != null){
  <p class="">@Model.Message</p>
 }
<form class="sign-up-form p-5" method="post">
  <div class="mb-3">
    <label for="inputUsername" class="form-label">Full Name</label>
    <input type="text" class="form-control" id="inputUsername" asp-for="UserDetails.Name" aria-describedby="emailHelp" required>   
  </div>
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Email address</label>
    <input type="email" class="form-control" id="inputEmail" asp-for="UserDetails.Email" aria-describedby="emailHelp" required>   
  </div>
  <div class="mb-3">
    <label for="inputPasswprd" class="form-label">Password</label>
    <input type="password" class="form-control" asp-for="UserDetails.Password" id="exampleInputPassword1" required>
  </div>
  <div class="mb-3 form-radio">

    <label for="whois" class="form-label">Who are you?</label>
    <input type="radio" class="form-radio-input" asp-for="UserDetails.Role" value="Student" id="roleStudent">
    <label class="form-radio-label" for="roleStudent">Student</label>

    <input type="radio" class="form-radio-input" asp-for="UserDetails.Role" value="Admin" id="roleTeacher">
    <label class="form-radio-label" for="roleAdmin">Admin</label>
  </div>
  <button asp-page="/Login" type="submit" value="Submit" class="btn btn-primary">Submit</button>
  
</form>
